.jumbotron {
  text-align: center;
}

.card {
  padding: 3em;
  border: 1px solid black;
  text-align: center;
  width: 50%;
  margin: 2em auto;
  cursor: pointer;
}

.card p, ul {
  display: none;
}

#card1 {
  display: block;
}
