.jumbotron {
  text-align: center;
}

.card {
  padding: 3em;
  border: 1px solid black;
  text-align: center;
  width: 50%;
  margin: 2em auto;
  cursor: pointer;
}

.card p, ul, #termListItems {
  display: none;
}

#card1 {
  display: block;
}

#termList {
  width: 25%;
  margin: 2em auto;
  text-align: center;
  border: 1px solid black;
  padding-right: 1em;
  cursor: pointer;
}

ol li {
  padding: 5px;
  border-top: 1px solid black;
}
