.jumbotron {
  text-align: center;
}

.hideCard {
  display: none;
}

.card {
  padding: 3em;
  border: 1px solid black;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: none;
}

#card1 {
  display: block;
}
